/* Reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	zoom: 1; /* all browsers */
    /*-moz-transform: scale(1);   Firefox */
}
a:hover, a:active, a:focus {
	outline: 0;
}
body {
	font-family: Arial, San-serif;
	font-size: 12px;
	line-height: 18px;
	background: #f9f9f9;
}

/* Wire frame */
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}
.header, .content, .footer {
	width: 100%;
}
.insider {
	position: relative;
	width: 100%;
	max-width: 2100px;
}

/* Header */
.header {
	position: fixed;
	color: #4e576a;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px;
	z-index: 4;
}
.header .insider {
    padding: 0 0 0 5px;
	height: 45px;
}
.header ul {
	margin: 0;
	padding: 0;
}
.header ul li {
	list-style: none;
	float: left;
}
.header ul li a {
	display: inline-block;
}
.header ul li .button a {
	display: inline-block;
	height: 17px;
	padding: 3px 5px;
}
.header a {
    color: #fff;
    text-decoration: none;
}
.header .user-account {
	
}
.header .page-title {
	float: left;
    padding: 9px 0 0 259px;
    color: white;
    border: none;
	font-size: 18px;
    line-height: 24px;
}
.logo {
	float: left;
	width: 250px;
}
.header .user-blk {
	height: 20px;
	float: right;
	margin: 5px 0;
}
.menu-box {
	display: inline-table;
	width: 100%;
    min-width: 300px;
    padding: 0;
}
.logo-box {
	position: fixed;
	float: left;
	width: 230px;
	padding: 0 0 0 40px;
}
.logo-text {
    position: fixed;
    float: left;
    width: 230px;
    font-size: 28px;
    font-weight: 700;
    line-height: 46px;
    font-style: italic;
    color: white;
	text-decoration: none;
}
.logo-text:hover {
	color: whiteSmoke;
	text-decoration: none;
}
.log-box {
	float: right;
}
.log-box button, .log-box .button {
	margin: 5px;
}
.log-box>ul>li>a>[class^="icon-visibility-"], .log-box>ul>li>a>[class*=" icon-visibility-"] {
	margin: 0 -5px;
}
.log-box>ul>li>a+div {
	height: 200px;
    position: absolute;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
	overflow: hidden;
	opacity: 0;
	width: 300px;
    right: -300px;
}
.log-box>ul>li.notice>a+div {
	position: fixed;
}
.log-box>ul>li>a.active+div {
	right: 0;
}
.log-box>ul>li.notice>a+div {
	padding: 0 0 50px 0;
}
.log-box>ul>li.notice>a+div ul {
	height: 100%;
	overflow-y: auto;
}
.log-box>ul>li.notice .block-content {
	position: absolute;
    height: auto;
	padding: 0 0 80px 0;
    overflow-y: auto;
}
.log-box>ul>li.notice a.active+div .block-content {
	height: 100%;
}
.notice .title {
	font-size: 18px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    background: #00bfcb;
    margin: 0 0 0 0px;
    padding: 0 0 0 10px;
}
.notice .title  h2 {
	display: inline-block;
	font-size: 14px;
    line-height: 38px;
    height: 38px;
    color: #fff;
    margin: 0 0 0 0px;
    padding: 0;
}
.notice .title .btn-close {
	float: right;
	height: 40px;
	width: 40px;
	padding: 0;
	color: #fff;
}
.notice .title .btn-close:hover {
	background: #f00;
}
.notice .title .btn-close a {
	height: 40px;
	width: 40px;
	line-height: 20px;
	padding: 10px;
	color: #fff;
}
.notice .describe {
	padding: 0 0 0  90px;
}
.log-box>ul>li>a+div ul>li {
	padding: 5px 10px;
	margin-top: -100px;
	width: 100%;
}
.log-box>ul>li>a+div ul>li:hover {
	background: #fff;
}
.log-box>ul>li>a.active+div {
	height: 100%;
	opacity: 1;
}
.log-box>ul>li.language>a+div ul li a {
	line-height: 40px;
    width: 100%;
    color: #333;
}
.log-box>ul>li.language>a:focus+div {
	height: 100%;
	opacity: 1;
	z-index: 999;
	right: 0;
}
.log-box>ul>li.language>a+div ul li.selected a {
	color: #009bc7;
}
.log-box>ul>li.language>a:focus+div, .log-box>ul>li.language>a.active+div {
	height: auto;
}
.log-box>ul>li>a:focus+div ul>li, .log-box>ul>li>a.active+div ul>li {
	margin-top: 0px;
}

/* Navigation */
.navigation {
	position: fixed;
	top: 45px;
	left: 0;
	width: 300px;
	height: 100%;
    line-height: 30px;
	color: #ffffff;
	background: #fff;
	z-index: 3;
	padding-bottom: 50px;
	/*border-right: 1px solid #ccc;*/
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}
.navigation>.nav-box {
	height: 90%;
}
.navigation ul {
	float: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation ul li {
	font-weight: 700;
	list-style: none;
	width: 100%;
    line-height: 40px;
}
.navigation ul li a, .navigation ul li>span {
	display: table;
	width: 100%;
	height: 40px;
    line-height: 40px;
    padding: 0 0 0 5px;
    color: #ffffff;
    text-decoration: none;
	border-bottom: 1px solid #00425e;
	font-weight: 700;
}
.navigation ul li a+ul>li {
	margin-top: -50px;
}
.navigation ul li a.active+ul {
	position: static;
	height: auto;
	max-height: 200px;
    overflow-y: auto;
}
.navigation ul li a.active+ul>li {
	margin-top: 0px;
}
.navigation>*>ul>li>a>span.tooltip {
	text-transform: uppercase;
}
.navigation ul li a span.tooltip {
	position: relative;
	opacity: 1;
    line-height: 40px;
	width: 250px;
	height: 40px;
	overflow: hidden;
	z-index: 2;
}
.navigation>*>ul>li>ul>li>a>span.tooltip {
	position: relative;
	opacity: 1;
    line-height: 30px;
	width: 250px;
	height: 30px;
	overflow: hidden;
	z-index: 2;
}

.nav-mini .navigation>*>ul>li>a:hover>span.tooltip {
	position: absolute;
    display: inline-table;
    padding: 0 10px;
    left: 300px;
    width: auto;
	color: #fff;
    background: #333;
	white-space: nowrap;
	z-index: 9;
    opacity: 1;
}
.nav-mini .navigation>*>ul>li.selected>a:hover>span.tooltip {
	position: absolute;
    display: inline-table;
    padding: 0 10px;
    left: 300px;
    width: auto;
	color: #17aada;
    background: #333;
	white-space: nowrap;
	z-index: 9;
    opacity: 1;
}

.nav-mini .navigation>*>ul>li>a.active>span.tooltip, .nav-mini .navigation>*>ul>li>a.active:hover>span.tooltip {
	position: absolute;
    display: inline-table;
    padding: 0 10px;
    left: 300px;
	color: #333;
    background: #ccc;
	white-space: nowrap;
	z-index: 9;
    opacity: 1;
	width: 300px !important;
}
.nav-mini .navigation>*>ul>li.selected>a:hover>span.tooltip {
	position: absolute;
    display: inline-table;
    padding: 0 10px;
    left: 300px;
	color: #17aada;
	white-space: nowrap;
	z-index: 9;
    opacity: 1;
}
.navigation ul li a span.tooltip .arrow-left {
	display: none;
	opacity: 0;
}
.nav-mini .navigation ul li a.active span.tooltip .arrow-left {
	float: right;
    width: 20px;
    height: 20px;
    display: inline-block;
	margin: 0px;
	opacity: 1;
}
.nav-mini .navigation ul li a.active span.tooltip .arrow-left i {
	float: none;
	vertical-align: top;
}
.navigation>*>ul>li>a.active+ul {
	left: 0;
}
.nav-mini .navigation>*>ul>li>a.active+ul {
	position: absolute;
	left: 300px;
	width: 300px;
	margin-top: -1px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}
.navigation>*>ul>li>a, .navigation>ul>li>span {
	font-size: 14px;
    color: #333;
    border-color: #ddd;
	background: whitesmoke;
}
.navigation>*>ul>li>ul>li>a {
	font-size: 12px;
    color: #333;
    background: #fff;
    border-color: #eee;
    padding-left: 15px;
    font-weight: 500;
	height: 30px;
}
.navigation ul li a:hover, .navigation ul li a.active {
	color: #17aada;
}
.navigation ul li.selected>* {
	color: #17aada;
	/*background: #ed1c24;*/
}
.navigation [class*="icon-"] {
	float: right;
}
.navigation ul li.theme-option {
	position: fixed;
	width: 299px;
	bottom: 0;
	z-index: 2;
}
.navigation ul li.theme-option>* {
	border: none;
	border-top: 1px solid #ccc;
}

/* Content */
.content {
	position: absolute;
	color: #000000;
	padding: 45px 0 0 300px;
	height: 100%;
	overflow: auto;
}
.content .insider {
	position: relative;
	display: block;
	padding: 10px;
    height: 100%;
    overflow: auto;
}
.content-box {
	min-height: 650px;
	background: #fff;
}
.content-header {
	margin: 0 0 10px 0;
}

/* Block */
.block {
    width: 100%;
	margin: 0 0 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
	background: #fff;
	padding:10px;
	height: auto;
	overflow: hidden;
}
.block img {
	width: 100%;
}
.box-icon {
	display: inline-block;
	width: 60px;
    height: 60px;
	padding: 5px;
	float: left;
    margin: 0 5px 0 0;
}

.block-purple .box-icon {
	background: #df007e;
}
.block-purple .box-icon+h3+h2 {
	color: #df007e;
}
.block-magenta .box-icon {
	background: #c500a7;
}
.block-magenta .box-icon+h3+h2 {
	color: #c500a7;
}
.block-green .box-icon {
	background: #51c000;
}
.block-green .box-icon+h3+h2 {
	color: #51c000;
}
.block-yellow .box-icon {
	background: #e5d800;
}
.block-yellow .box-icon+h3+h2 {
	color: #e5d800;
}
.block-blue .box-icon {
	background: #0052d9;
}
.block-blue .box-icon+h3+h2 {
	color: #0052d9;
}
.block-cyan .box-icon {
	background: #13b9d7;
}
.block-cyan .box-icon+h3+h2 {
	color: #13b9d7;
}
.block-orange .box-icon {
	background: #ec7307;
}
.block-orange  .box-icon+h3+h2 {
	color: #ec7307;
}
.block-red .box-icon {
	background: #e50100;
}
.block-red .box-icon+h3+h2 {
	color: #e50100;
}

.block-cyan {
	background: #00bfcb;
}
.block-cyan h2 {
	color: #fff;
}
.block-red {
	background: #b10007;
	color: #fff;
}
.block-red h2 {
	color: #fff;
}
.block-mini {
	display: table;
	width: 100%;
	padding: 0;
	background: #fff;
	height: auto !important;
	text-align: center;
	color: white;
}
.block-mini h3 {
	margin: 3px;
	padding: 0;
	font-size: 11px;
	color: #333;
}
.block-mini h2 {
	margin: 3px;
	padding: 0;
	font-size: 20px;
}
.block-mini.block-magenta h2 {
	color: #c500a7;
}
.block-mini.block-green h2 {
	color: #51c000;
}
.block-mini.block-cyan h2 {
	color: #00a2c5;
}
.block-content-body {
	overflow: auto;
}

/* Footer */
.footer {
	
}

/* Nav control */
.nav-mini .navigation {
	left: -260px;
}
.nav-mini .content {
	width: 100%;
	padding-left: 40px;
}

/* Highchart customize */
.chart-box, .highcharts-container , .highcharts-container  svg {
	display: table;
	width: 100% !important;
	height: 100% !important;
	max-height: 245px;
	overflow: hidden;
	
}
.highcharts-legend-item {
	font-family: arial, sans-serif;
	font-size: 12px;
}
.chart-box.chart-1, .chart-1 .highcharts-container , .chart-1 .highcharts-container  svg {
	max-height: 270px;
}

/* Theme color */
[class*="block-theme"], [class*="block-theme"]  th {
	color: #fff !important;
	background-color: #ed1c24 !important;
}
[class*="block-theme"] h2 {
    color: #fff;
}

/*
.orange .navigation {
	background: #3b251e;
}
.orange .navigation ul li.selected>* {
	background: #c95500;
}
.orange .navigation ul li:hover>* {
	background: #d19400;
}
.orange .navigation>*>ul>li>a, .orange .navigation>*>ul>li>span {
    background: #281a14;
    border-color: #3b251e;
}
.orange .navigation>ul>li>ul>li>a {
    background: #1d120e;
    border-color: #3b251e;
}
*/

.orange h2 {
    color: #f89b2c;
}
.orange [class*="block-theme"], .orange [class*="block-theme"] th  {
	background-color: #f89b2c !important;
}
.orange [class*="block-theme"] h2 {
    color: #fff;
}

/*
.cyan .navigation {
	background: #001227;
}
.cyan .navigation ul li.selected>* {
	background: #00acaa;
}
.cyan .navigation ul li:hover>* {
	background: #009bc7;
}
.cyan .navigation>*>ul>li>a, .cyan .navigation>*>ul>li>span {
    background: #001f32;
    border-color: #001227;
}
.cyan .navigation>ul>li>ul>li>a {
    background: #00050a;
    border-color: #001227;
}
*/

.cyan h2 {
    color: #00acaa;
}
.cyan [class*="block-theme"], .cyan [class*="block-theme"] th  {
	background-color: #00acaa !important;
}
.cyan [class*="block-theme"] h2 {
    color: #fff;
}

/*
.blue .navigation {
	background: #1e3b36;
}
.blue .navigation ul li.selected>* {
	background: #17aada;
}
.blue .navigation ul li:hover>* {
	background: #00626e;
}
.blue .navigation>*>ul>li>a, .cyan .navigation>*>ul>li>span {
    background: #142728;
    border-color: #1e3b36;
}
.blue .navigation>*>ul>li>ul>li>a {
    background: #0e1d1c;
    border-color: #1e3b36;
}
*/
.blue h2 {
    color: #17aada;
}
.blue [class*="block-theme"], .blue [class*="block-theme"] th  {
	background-color: #17aada !important;
}
.blue [class*="block-theme"] h2 {
    color: #fff;
}

/*
.magenta .navigation {
	background: #281e3b;
}
.magenta .navigation ul li.selected>* {
	background: #7e10a7;
}
.magenta .navigation ul li:hover>* {
	background: #441e90;
}
.magenta .navigation>*>ul>li>a, .magenta .navigation>ul>li>span {
    background: #1c1428;
    border-color: #281e3b;
}
.magenta .navigation>*>ul>li>ul>li>a {
    background: #160e1d;
    border-color: #281e3b;
}
*/

.magenta h2 {
    color: #7e10a7;
}
.magenta [class*="block-theme"], .magenta [class*="block-theme"] th  {
	background-color: #7e10a7 !important;
}
.magenta [class*="block-theme"] h2 {
    color: #fff;
}

/* Map */
.map {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: -10px;
	z-index: 1;
	overflow: hidden;
}
.map iframe {
	width: 100%;
	height: 100%;
	padding: 0;
}
.map-option {
	position: absolute;
	/*width: 420px;*/
	height: auto;
	right: 0px;
	margin: 0 10px 50px 10px; 
	padding: 1px; 
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	border-radius: 2px; 
	background-color: white;
	z-index: 2;
}
.map-insider {
	display: table;
	width: 100%;
}
.map-option-full {
	position: absolute;
    display: block;
    width: 320px;
    height: 100%;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    background-color: white;
    z-index: 2;
	transition: 0.5s;
}
.map-option-full.disable {
	right: -320px;
}
.map-option-full.disable  .map-option-toggle [class*="icon-"]{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.map-option-full.left {
	left: 0;
}
.map-option-full.left.disable {
	position: absolute;
	top: 0px;
    left: -320px;
}
.map-option-full.left .map-option-toggle {
	right: -29px;
    left: inherit;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.map-option-full.left.disable .map-option-toggle {
	
}
.map-option-full .block-header {
	/*padding: 10px;*/
}
.map-option-header {
	display: block;
	height: auto;
}
.map-option-content {
	overflow: auto;
	display: block;
	height: 100%;
}
.map-option-item {
	border-bottom: 1px solid #ccc;
}
.map-option-title {
	padding: 0 5px;
	background: whiteSmoke;
}
.map-option-title h3 {
	padding: 0;
    height: 30px;
    line-height: 30px;
}
.map-option-toggle {
	position: absolute;
    left: -29px;
    background: white;
    width: 30px;
    text-align: center;
    height: 52px;
    line-height: 50px;
    border: 1px solid #fff;
    background: #eee;
	cursor: pointer;
}
.option-item {
	border-bottom: 1px solid #ccc;
}
.criteria-list {
    text-align: center;
}
.map-tabs {
	border: none;
	width: 100%;
	margin-bottom: -1px;
}
.map-tabs>li {
	border-radius: 0;
	background: none;
	margin-bottom: 0;
}
.map-tabs>li>a {
	margin: 0 !important;
	padding: 15px 10px !important;
	border: none;
	border-radius: 0;
	color: white;
	text-transform: uppercase;
}
.map-tabs>li>a:hover {
	color: #333;
}
.map-tabs>li.active>a {
	border: none !important;
}
.tab-content.map-tab-content {
	border: none;
}
.map-list ul {
	margin: 0;
	padding: 0;
}
.map-list ul li {
	margin: 0;
	min-height: 60px;
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.input-box {
	position: relative;
	width: 100%;
	max-width: 500px;
	background: white;
	border: 1px solid #ccc;
}
.input-box input[type="text"] {
	padding: 5px;
	margin: 0;
	border: none;
	width: 90%;
}
.input-box button, .input-box input[type="button"], .input-box input[type="submit"] {
	position: absolute;
	padding: none;
	margin: 0;
	right: 0;
}
.map-option-more-info {
	float: right;
	margin: 2px 5px;
}
.map-option-more-info li {
	white-space: nowrap;
	padding: 10px;
}
.map-option-more-info li.divider{
	padding: 0;
}
.map-option-more-info .dropdown-menu {
	padding: 10px 0;
}

/* Map bottom toggle */
.map-bottom {
	position: absolute;
    /* width: 100px; */
    height: auto;
    /* bottom: 30px; */
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-left: -50px; */
    /* right: 0; */
    display: block;
    z-index: 1;
}
.map-bottom-toggle {
	width: 60px;
    height: 30px;
    padding: 5px;
    background: #eee;
    text-align: center;
    border: 1px solid #fff;
    margin: 0 auto;
	cursor: pointer;
}
.map-bottom.disable {
	bottom: -1000px;
}
.map-bottom.disable .map-bottom-toggle {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.map-bottom .map-bottom-header {
	position: relative;
}
.map-bottom.disable .map-bottom-header {
	position: fixed;
    width: 100%;
    bottom: 0;
}
.map-bottom .item {
	float: left;
	width: 220px;
}

/* Toggle family */
.toggle-parent {
	display: block;
}
.toggle-children {
	display: none;
}
.toggle-child {
	display: none;
}
.toggle-family.disable .toggle-parent {
	display: none;
}
.toggle-family.disable .toggle-children {
	display: block;
}
.toggle-family.disable .toggle-child.enable {
	display: block;
}

/* Customize modal */
.modal {
	text-align: left;
	bottom: -500px;
}
.modal-open .modal {
	bottom: 0;
}
.modal-dialog {
	position: absolute;
	margin: 55px auto 10px auto;
	left: 0;
	right: 0;
}
.modal-content {
	padding: 1px;
	border: none;
	border-radius: 0;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
.modal-header {
	padding: 10px;
}
.modal-body {
    padding: 10px;
}
.modal-header .close {
    margin: 3px;
    opacity: 1;
}

/* Customize button */
.btn {
	padding: 5px;
}
.btn:hover {
	color: inherit;
}
.btn:focus, .btn:active {
	border-color: #009bc7;
	outline: #009bc7;
}

/* Fullscreen mode */
.fullscreen .content {
	padding: 0;
}
.fullscreen .header, .fullscreen .navigation {
	display: none;
	z-index: -1;
}

/* Miscelaneous */
.example {
	padding: 10px;
	border: 1px solid #bbb;
	border-left: 3px solid #f00;
}
.log-box .count {
	margin-left: -15px;
}
.panel {
    box-shadow: none;
}
.panel-transparent {
	background: none;
	border: none;
}
.glyphicon {
    width: 20px;
}
/* Popupover */
.popover {
	max-width: 480px;
	padding: 0;
}
.popover-title {
    width: 100%;
	padding: 10px;
}
.popover-content {
	max-width: 480px;
    padding: 0px;
}
.popover-content img {
    width: 100%;
}
.popover.in {
	display: table !important;
	height: auto;
}
.popover-image {
	position: absolute;
	background: #eee;
    border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.popover-image-header {
	padding: 5px 10px;
}
.image-box {
	position: relative;
}
.image-box .dropdown-menu {
	top: 0;
    left: initial;
}

/* Tab customize */
.tab-header {
	position: relative;
	display: table;
    width: 100%;
	padding: 0;
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: none;
	z-index: 2;
}
.tab-content {
	position: relative;
    border: 1px solid #ccc;
	overflow: auto; 
	z-index: 1;
}
.tab-content[freeze] {
	overflow: hidden;
}
.tab-header .nav {
	padding: 5px 0 0 5px;
	border-bottom: none;
}
.nav>li>a {
	margin-bottom: -1px;
	padding: 10px 5px;
}
.nav.block-theme>li>a{
    color: #fff;
}
.nav.block-theme>li>a:hover  {
    color: #000;
}
.nav.block-theme>li.active>a  {
    color: #000;
}
.toolbox {
	display: table;
	float: right;
}
.toolbox button, .toolbox .button {
	margin: 0;
}
.toolbox select {
	margin: 0 5px 0 0;
}
.toolbox label {
	font-size: 12px;
	margin: 8px 5px 8px 0;
}
.button-box .toolbox {
	border: none;
}
.toolbox ul {
	list-style: none;
}
.toolbox ul li {
	float: left;
	padding: 5px;
	border-left: 1px solid #ccc;
	white-space: nowrap;
	height: 42px;
}
.toolbox  .item label {
	width: auto;
    min-width: auto;
}
.alert {
	padding: 5px;
    margin: 0;
    width: 100%;
    line-height: 24px;
}

/* Image box */
.img-content {
	position: relative;
	width: 100%;
}
.img-box {
	display: table;
	width: 100%;
	padding: 0 410px 0 0;
	text-align: center;
}
.img-all-box {
	display: table;
	width: 100%;
	position: relative;
}
.img-big-box {
	float: left;
	width: 50%;
	height: auto;
	overflow: hidden;
	padding: 0 5px;
}
.img-current-template {
	position: relative;
	z-index: 2;
}
.img-current-assume {
	position: relative;
	z-index: 1;
}
.img-big-box button {
	margin: 0;
}
.img-big-insider {
	margin: 0 auto;
    width: 100%;
    max-width: 480px;
}
.img-big-insider  h2 {
	font-size: 18px;
	display: inline-block;
	margin: 5px 0 0;
}
.img-big-insider  .title {
	text-align: left;
}
.img-big-insider  .rotate-box {
	float: right;
}
.img-big-box img {
	width: 100%;
	max-width: 480px;
	
	transform-origin: center center;
}
.img-scroll-box {
	display: block;
    width: 400px;
    text-align: center;
    overflow: auto;
}
.img-scroll-box.img-assumed {
	width: 100%;
}
.img-scroll-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.img-scroll-box ul li {
	float: left;
	height: 105px;
}
.img-scroll-insider {
	max-height: 120px;
    margin: 0 auto;
}
.img-assume {
	position: absolute;
	width: 400px;
	top: 0;
	right: 0;
	text-align: left;
}
.img-assume-content {
	position: relative;
}
.report-content-header {
	display: table;
	width: 100%;
	margin: 0 0 5px 0;
	border-bottom: 1px solid #ccc;
}
.report-content-header h1 {
	border: none;
	padding: 10px 0 0;
    margin: 5px 0;
}

/* Customize Tablesorter */
.tab-content .tablesorter-default th,
.tab-content .tablesorter-default thead td {
	background-color: #fff;
}
.dragtable-sortable.ui-sortable {
	opacity: 0.5;
}
.tablesorter-resizable-container {
    left: -3px;
}
.toolbox .dropdown ul li {
    padding: 5px;
    border-left: 1px solid #ccc;
    white-space: nowrap;
    max-width: 300px;
	height: auto;
}
.columnSelector .option-item {
	display: none;
}
.columnSelector .option-item.active {
	display: block;
}

/* Dropdown customize */
.dropdown {
	display: inline-block;
	vertical-align: bottom;
}
.dropdown button {
	margin: 0;
}
.dropdown-menu {
	padding: 0;
}
.dropdown-menu table {
	margin: 0;
}
.table-box select, .tablesort select {
	/*width: 100%;*/
}
.dropdown-menu table tr:hover td {
	background: azure !important;
	cursor: pointer;
}
.modal-footer {
	padding: 5px 10px;
}

/* Input group customize */
.input-group-btn>.btn {
	border-radius: 0;
    height: 32px;
    margin: 5px 5px 0 -1px;
    width: 32px;
}
.input-group .form-control {
	height: 32px;
	font-size: 12px;
	border-radius: 0;
	outline: 0;
	width: 148px;
    margin: 0;
	width: 174px;
}
.input-group .form-control:focus {
	border: 1px solid #5fdfff;
	box-shadow: none;
}
.input-group {
	display: inline-table;
	max-width: 190px;
	vertical-align: middle;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin: 0 0 0 -1px;
}
.content-header label {
	float: left;
	min-width: 105px;
	display: none;
}
.content-header .modal-body label {
	min-width: 100px;
}
.content-header .item {
	min-width: 210px;
}
.content-header input, .content-header .item select {
	width: 205px;
}
.content-header input[type="date"], .content-header .date,
.content-header input[type="month"], .content-header .month {
	width: 100px;
}
table tbody tr th {
	width: 170px;
}
.scheduler table tbody tr th {
	width: auto;
}

/* Scheduler customize */
.scheduler {
	position: relative;
}
.k-calendar {
	padding: 0 !important;
}
.k-gantt-toolbar, .k-scheduler-toolbar, .k-scheduler-footer {
    line-height: 30px !important;
	padding: 5px !important;
}
.k-scheduler-navigation {
    margin-left: 0px !important;
}
.k-gantt-toolbar li .k-link, .k-scheduler-toolbar li .k-link, .k-gantt-toggle {
	line-height: 30px !important;
}
.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle, .k-treemap-tile, html .km-pane-wrapper .k-header {
	/*background: #eee !important;*/
}
.k-gantt-toolbar>ul>li, .k-scheduler-toolbar>ul>li {
	border-width: 1px !important;
}
.k-nav-current {
	border: none !important;
}
.k-animation-container {
	top: inherit;
}
.report-box .item {
	height: auto;
}
.k-calendar th {
    padding: 0 5px !important;
    line-height: 30px !important;
}
.k-edit-label label {
	margin: 0;
}
.k-animation-container {
	/*top: 180px;*/
}
.k-dropdown-wrap {
   display: inline;
}
[class*='k-stat-border-'] {
	border-radius: 5px !important;
}
.k-item {
	border: 1px solid transparent !important;
}
.k-scheduler-table {
    background: #dfdfdd;
}

/* List customize */
.list-group {
	color: #333;
	margin: 0;
}
.list-group-item {
	padding: 3px 10px;
	line-height: 30px;
}
.treeview span.icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px;
    vertical-align: middle;
}

/* Note */
.note-item {
	width: 150px;
	float: left;
}

/* Customize Leaflet */
.leaflet-popup-content-wrapper {
	border-radius: 3px;
}
.leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-title {
	padding: 10px;
	background: #eee;
}
.leaflet-container a.leaflet-popup-close-button {
	float: right;
    padding: 0;
    margin: 17px 10px;
}
.leaflet-popup-content-insider {
	padding: 10px;
    width: 100%;
    max-height: 400px;
    display: block;
    overflow: auto;
}
.leaflet-popup-bottom {
	text-align: center;
    padding: 10px;
    background: #eee;
}
.leaflet-popup-bottom  input[type="button"]{
	text-align: center;
    padding: 20px;
    height: 20px;
    line-height: 6px;
    background: #eee;
}

/* Customize bootstrap */
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}
.input-group-btn {
    position: static;
}
.content-header .dropdown-menu {
	box-shadow: 1px 1px 3px rgba(0,0,0,.2)
}
.input-group input:focus + .input-group-btn > .dropdown-menu {
	display: block;
}
.dropdown-menu:has(> input:focus)  {
	display: block !important;
}

/* Toggle filter */
.toggle-filter-box.filter-disable .tablesorter-filter-row {
	display: none;
}
/*
.bigdata-box.disable {
	display: none;
}
.bigdata-box {
	display: block;
}
*/
.bigdata-iframe {
	background: #e4f0f0;
}
.bg_giphy {
	background-image: url('img/loader/giphy.gif') top center no-repeat #e4f0f0;
}
.bg_rocket {
	background: url('img/loader/rocket.gif') top center no-repeat #181b22;
}
.bg_crown {
	background: url('img/loader/crown.gif') top center no-repeat #2a2826;
}
.bg_bottle {
	background: url('img/loader/bottle.gif') top center no-repeat #191f26;
}

/* Zoom box */
.zoom-box .zoom-button {
	display: none;
}

/* Customize jquery ui */
.item select[class^="month"], .item select[class^="year"] {
	width: 100px;
}
.label-avatar {
	margin: 0 5px 0 0;
	line-height: 40px;
}

/* Customize Kendo ui scheduler */
.k-scheduler-monthview .k-event {
    height: 45px !important;
}
.k-event-template {
    padding: 3px 0 !important;
}
.k-scheduler-table td, .k-scheduler-table th {
	padding: 0 5px !important;
}
.k-scheduler-monthview .k-scheduler-table td, .k-scheduler-monthview .k-hidden {
	background: #ddd;
	line-height: 20px;
}
.k-scheduler-table .k-state-selected {
	background: #ffdbc6 !important;
	border: 1px solid #ffa773 !important;
}
.k-scheduler-table .k-today {
	background: #fff !important;
}
.k-scheduler-edit-form .k-edit-field {
    line-height: 32px;
}
.k-scheduler-monthview .k-scheduler-table .k-other-month {
	background: #ccc;
}
.k-overlay {
	z-index: 1048 !important;
}
.k-overlay {
	z-index: 1048 !important;
}
div.k-window {
	z-index: 1049 !important;
}
.readonly, .readonly * {
    background-color: #ddd !important;
    color: #666 !important;
}
/* Responsive */
@media (max-width: 1170px) {
	.block {
		height: auto;
	}
	.chart-box, .highcharts-container , .highcharts-container  svg {
		height: 250px;
	}
	.img-box .img-big-box.img-current-template {
		position: absolute;
		width: 100px;
		background: rgba(256,256,256, 0.5);
		border: 1px solid #eee;
		top: 40px;
		left: -10px;
		max-height: 360px;
		overflow-y: auto;
		padding: 5px;
		box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
		opacity: 0.75;
	}
	.img-box .img-big-box.img-current-template .clockwise, .img-box .img-big-box.img-current-template .counter-clockwise{
		display: none;
	}
	.img-box .img-big-box.img-current-template.zoom-box.zoom-in .clockwise, 
	.img-box .img-big-box.img-current-template.zoom-box.zoom-in .counter-clockwise {
		display: inline-block;
	}
	.img-box .img-big-box.img-current-template:hover {
		opacity: 1;
	}
	.img-box .img-big-box.img-current-template h3 {
		font-size: 10px;
	}
	.img-box .img-big-box.img-current-template.zoom-box.zoom-in h3 {
		font-size: 14px;
	}
	.img-box .img-big-box.img-current-template.zoom-box.zoom-in {
		opacity: 1;
		width: 360px;
		max-height: 580px;
	}
	.zoom-box .zoom-button {
		display: inline-block;
	}
	.img-box .img-big-box.img-current-template .square-box {
		margin: 5px 0;
	}
	.img-box .img-big-box.img-current-assume {
		width: 100%;
	}
	.img-scroll-box.img-assumed {
		width: 100%;
	}
}
@media (max-width: 970px) {
	.content {
		padding-left: 40px;
	}
	.modal-dialog {
		position: relative;
	}
	button, span[class^="button"] {
		font-size: 0;
	}
	.header .user-account {
		font-size: 0;
	}
}
@media (max-width: 750px) {
	.header .insider {
		/*height: 80px;*/
	}
	.nav-mini .navigation {
		left: -300px;
	}
	.nav-mini .content, .content {
		padding-left: 0px;
	}
	.logo-box {
		display: none;
		position: relative;
	}
	.page-title {
		padding: 9px 0 0 5px !important;
		font-size: 14px !important;
		max-width: 240px;
		white-space: nowrap;
		overflow: hidden;
	}
	.menu-box {
		padding: 0;
	}
	.navigation {
		/*top: 80px;*/
	}
	.content {
		/*padding-top: 80px;*/
	}
	.bgd-navigation {
		background: #333;
		padding: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
	}
	.txt-indent {
		display: none;
		text-indent: -2000px;
	}
	.img-box  {
		padding: 0;
	}
	.img-assume  {
		position: relative;
		width: 100%;
		margin: 10px 0 70px 0;
	}
	.img-assume  .button-box {
		position: fixed;
		left: -7px;
		bottom: 0;
		z-index: 2;
	}
}
@media (max-width: 480px) {
	.page-title {
		padding: 12px 0 0 5px !important;
		font-size: 12px !important;
		max-width: 150px;
		white-space: nowrap;
		overflow: hidden;
	}
}
#webmap-header {
	display: none !important;
}