@model CMSApplication.Areas.Administration.Models.SlideModel 
@{
    ViewBag.Title = "Add image";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        HttpMethod = "post",
        OnComplete = "CompleteAjaxRequest"
    };
}
<script type="text/javascript">

    function CompleteAjaxRequest(obj) {

        var returnObj = eval('(' + obj.responseText + ')');

        if (returnObj.Status == "success") {
            if (returnObj.Message != null) {
                $.pnotify({
                    title: 'Success',
                    text: returnObj.Message,
                    type: 'info',
                    opacity: .8
                });
                $("form input:text").val('');
                $("form input:password").val('');
                $("form textarea").val('');
            }
            else if (returnObj.RedirectUrl != null) {
                window.location.href = returnObj.RedirectUrl;
            }
        } else {
            $.pnotify({
                title: 'Error',
                text: returnObj.Message,
                type: 'error',
                opacity: .8
            });
        }

        return false;
    };

</script>
<div class="row-fluid">
    <div class="span12">
        <div class="head">
            <div class="isw-documents">
            </div>
            <h1>
               Add new image </h1>
            <div class="clear">
            </div>
        </div>
        <div class="block-fluid">
             @using (Html.BeginForm("AddOrUpdate", "Slide", FormMethod.Post, new { enctype = "multipart/form-data",@id="validation"}))
            {
                    <div class="warning-area">
                    </div>
                    @Html.HiddenFor(model => model.Id)
                    <div class="row-form">
                        <div class="span2">
                            Title :</div>
                        <div class="span8">
                            @Html.TextBoxFor(x => x.Title, new { @class = "validate[required]" })</div>
                            <div class="clear"></div>
                    </div>
                    <div class="row-form">
                        <div class="span2">
                            Image :</div>
                        <div class="span8">
                            <div id="event-logo-upload" class="span2">
                            </div>
                            <div class="span4 imgload">
                                <input type="file" name="FileUp" />
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row-form">
                        <div class="span2">
                            Description
                        </div>
                        <div class="span9">
                            @Html.TextAreaFor(x => x.Description, new { @cols = "5", @rows = "5",@style="50px;",@class="validate[required]" })</div>
                            <div class="clear"></div>
                    </div>
                    <div class="row-form" style="display: none;">
                        <div class="span2">
                            Order :</div>
                        <div class="span5">
                            @Html.TextBoxFor(x => x.OrderImage, new { @class = "span8" })</div>
                            <div class="clear"></div>
                    </div>
                    <div class="row-form">
                        <div class="span2">
                        </div>
                        <div class="span5">
                            <br />
                            <input type="submit" class="btn btn-info btnSubmit" value="Submit" /></div>
                            <div class="clear"></div>
                    </div>
            }
        </div>
    </div>
</div>