@{
    ViewBag.Title = "Roles Management";
}
<div class="head">
    <div class="isw-grid">
    </div>
    <h1>
        Roles Management</h1>
    <div class="clear">
    </div>
</div>
<div class="block-fluid">
    <div class="list">
        @Html.Action("List", "RolesManagement", null)
    </div>
</div>