@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
                <div class="span12">
                    
                    <div class="widgetButtons">                        
                        <div class="bb"><a href="#"><span class="ibw-edit"></span></a></div>
                        <div class="bb">
                            <a href="#"><span class="ibw-folder"></span></a>
                            <div class="caption red">31</div>
                        </div>
                        <div class="bb"><a href="#"><span class="ibw-plus"></span></a></div>
                        <div class="bb"><a href="#"><span class="ibw-favorite"></span></a></div>
                        <div class="bb">
                            <a href="#"><span class="ibw-mail"></span></a>
                            <div class="caption green">31</div>
                        </div>
                        <div class="bb"><a href="#"><span class="ibw-settings"></span></a></div>
                    </div>
                    
                </div>
            </div>

            <div class="dr"><span></span></div>            
            
            <div class="row-fluid">
                
                <div class="span12">
                    <div class="head">
                        <div class="isw-graph"></div>
                        <h1>Chart</h1>
                        <div class="clear"></div>
                    </div>
                    <div class="block">
                        <div id="chart-1" style="height: 300px; margin-top: 10px;">
                            
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="dr"><span></span></div>

