<!DOCTYPE html>
<html class="nav-mini">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<link href="img/favicon.png" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="css/jquery.theme.default.css">
<link rel="stylesheet" type="text/css" href="css/boothstrap.css">
<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="css/dragtable.css">
<link rel="stylesheet" type="text/css" href="css/leaflet.css">

<link rel="stylesheet" type="text/css" href="css/component.css">
<link rel="stylesheet" type="text/css" href="css/icon.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/final.css">


<script src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/jquery.tablesorter.2.28.10.js"></script>
<script src="js/jquery.tablesorter.widgets.2.28.10.js"></script>
<script src="js/widget-columnSelector.js"></script>

<script src="js/widget-scroller.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.dragtable.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/ui.js"></script>
<title>DMSpro eTool</title>
</head>
<body class="blue">
<div class="container">
	<div class="header block-theme">
		<div class="insider">
			<div class="logo-box">
				<a class="logo-text" href="index.html">DMSpro eTool</a>
			</div>
			<div class="menu-box">
				<a class="btn-navigation" href="javascript:void(0)"></a>
				<h1 class="page-title">Auto audit review</h1>
				<div class="log-box">
					<ul>
						<li>
							<div class="fl p-10-0 user-account">
								<span>Hello</span> 
								<a href="javascript:void(0)">Thuan.Tran</a> 
							</div>
							<a href="javascript:void(0)">
								<figure class="mini-circle-box fl mr-5">
									<img alt="Thuan.Tran" src="img/employee/1.jpg">
								</figure>
							</a>
						</li>
						<li class="Not audittice">
							<a href="javascript:void(0)">
								<i class="icon-etool-bell icon-etool-white"></i><span class="count">9</span>
							</a>
							<div>
								<div class="title block-theme">
									<h2>Not audittice</h2>
									<span class="btn-close">
										<a href="javascript:void(0)"><i class="icon-delete icon-white"></i></a>
									</span>
								</div>
								<div class="block-content">
									<ul>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-2.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Cô Ba outlet</h3>
												<p>
													Route: RE09118<br/>
													Employee name: Nguyễn Hữu Phước<br/>
													Employee code: NV0978
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-1.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Family Smart Convenient Market</h3>
												<p>
													Route: RE07113<br/>
													Employee name: Nguyễn Văn Thành<br/>
													Employee code: NV0918
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-3.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Cửa hàng tạp hóa chú Tư Dzềnh </h3>
												<p>
													Route: RE07115<br/>
													Employee name: Ngô Thị Trúc<br/>
													Employee code: NV0966
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-2.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Cửa hàng tạp hóa cô Tư ngã tư Bảy Hiền</h3>
												<p>
													Route: RE08116<br/>
													Employee name: Nguyễn Hữu Phước<br/>
													Employee code: NV0972
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-1.jpg" /></a>
											</div>
											<div class="describe">
												<h3>BNot auditod Sttore</h3>
												<p>
													Route: RE04111<br/>
													Employee name: Nguyễn Văn Thành<br/>
													Employee code: NV0971
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-3.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Co Sau outlet</h3>
												<p>
													Route: RE07513<br/>
													Employee name: Ngô Thị Trúc<br/>
													Employee code: NV0809
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-2.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Nguyen Nam outlet</h3>
												<p>
													Route: RE09111<br/>
													Employee name: Nguyễn Hữu Phước<br/>
													Employee code: NV0911
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-1.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Gmart Fastfood</h3>
												<p>
													Route: RE09125<br/>
													Employee name: Nguyễn Văn Thành<br/>
													Employee code: NV0432
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-3.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Thành Trung co.op</h3>
												<p>
													Route: RE02118<br/>
													Employee name: Ngô Thị Trúc<br/>
													Employee code: NV0118
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="language">
							<a href="javascript:void(0)">
								<i class="icon-etool-global icon-etool-white"></i>
							</a>
							<div>
								<ul>
									<li class="selected">
										<a href="javascript:void(0)">
											Tiếng Việt
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											English
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<button class="btn btn-default"><i class="icon-logout icon-black"></i></button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navigation">
		<div class="nav-box">
			<ul>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-qlik icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>Business Intelligence</span>
					</a>
					<ul>
						<li>
							<a href="bi-sales-situation.html">
								<span class="tooltip">Sales Situation</span>
							</a>
						</li>
						<li>
							<a href="bi-inventory-situation.html">
								<span class="tooltip">Inventory Situation</span>
							</a>
						</li>
						<li>
							<a href="bi-coverage-situation.html">
								<span class="tooltip">Coverage Situation</span>
							</a>
						</li>
						<li>
							<a href="bi-forecast.html">
								<span class="tooltip">Sales Forecasting</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-esri icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>Decision Assistance</span>
					</a>
					<ul>
						<li>
							<a href="gis-transport-intelligence.html">
								<span class="tooltip">Transport Intelligence</span>
							</a>
						</li>
						<li>
							<a href="gis-tapestry-segmentation.html">
								<span class="tooltip">Tapestry Segmentation</span>
							</a>
						</li>
						<li>
							<a href="gis-demographic.html">
								<span class="tooltip">Demographic</span>
							</a>
						</li>
						<li>
							<a href="gis-diversity-index.html">
								<span class="tooltip">Diversity Index</span>
							</a>
						</li>
						<li>
							<a href="gis-education-situation.html">
								<span class="tooltip">Education Situation</span>
							</a>
						</li>
						<li>
							<a href="gis-unemployment.html">
								<span class="tooltip">Unemployment rate</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-system-management icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>System management</span>
					</a>
					<ul>
						<li>
							<a href="manage-permission-by-role.html">
								<span class="tooltip">Permission by role</span>
							</a>
						</li>
						<li>
							<a href="manage-user-list.html">
								<span class="tooltip">User list</span>
							</a>
						</li>
						<li>
							<a href="manage-role.html">
								<span class="tooltip">Manage  role</span>
							</a>
						</li>
						<li>
							<a href="manage-language.html">
								<span class="tooltip">Language</span>	
							</a>
						</li>
						<li>
							<a href="manage-menu-config.html">
								<span class="tooltip">Config menu</span>
							</a>
						</li>
						<li>
							<a href="manage-product.html">
								<span class="tooltip">Manage product</span>
							</a>
						</li>
						<li>
							<a href="manage-user-history.html">
								<span class="tooltip">User history</span>
							</a>
						</li>
						<li>
							<a href="manage-reason.html">
								<span class="tooltip">Image audit reason</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-report icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left">
						<i class="icon-left"></i></div>Report</span>
					</a>
					<ul>
						<li>
							<a href="report-visited.html">
								<span class="tooltip">Daily visit</span>
							</a>
						</li>
						<li>
							<a href="report-synchroNot auditus.html">
								<span class="tooltip">PDA synchroNot auditus situation</span>
							</a>
						</li>
						<li>
							<a href="report-visit-result.html">
								<span class="tooltip">Visit result</span>
							</a>
						</li>
						<li>
							<a href="report-sale-index.html">
								<span class="tooltip">Sales indicator</span>
							</a>
						</li>
						<li>
							<a href="report-outlet-without-coordinates.html">
								<span class="tooltip">Outlet without coordinates</span>
							</a>
						</li>
						<li>
							<a href="report-base-result.html">
								<span class="tooltip">Base visit result</span>
							</a>
						</li>
						<li>
							<a href="report-working-weekly.html">
								<span class="tooltip">Working weekly</span>
							</a>
						</li>
						<li>
							<a href="report-timekeeping.html">
								<span class="tooltip">Timekeeping</span>
							</a>
						</li>
						<li>
							<a href="report-manual-audit-result.html">
								<span class="tooltip">Manual audit result</span>
							</a>
						</li>
						<li class="selected">
							<a href="report-auto-assume-result.html">
								<span class="tooltip">Auto audit result</span>
							</a>
						</li>
						<li>
							<a href="report-auto-assume-performance.html">
								<span class="tooltip">Auto audit performance</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="selected">
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-image icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>Visibility</span>
					</a>
					<ul>
						<li>
							<a href="visibility-define-display.html">
								<span class="tooltip">Display period list</span>
							</a>
						</li>
						<li>
							<a href="visibility-assign-outlet-to-auditor.html">
								<span class="tooltip">Allocate outlet to auditor</span>	
							</a>
						</li>
						<li>
							<a href="visibility-image-assume.html">
								<span class="tooltip">Display image audit</span>
							</a>
						</li>
						<li>
							<a href="visibility-review-assume.html">
								<span class="tooltip">Manual audit result review</span>
							</a>
						</li>
						<li>
							<a href="visibility-auto-image-assume.html">
								<span class="tooltip">Auto audit result review</span>
							</a>
						</li>
						<li>
							<a href="visibility-report-deny-image.html">
								<span class="tooltip">Denied image list</span>
							</a>
						</li>
						<li class="selected">
							<a href="visibility-auto-image-assume.html">
								<span class="tooltip">Auto image audit</span>
							</a>
						</li>
						<li>
							<a href="visibility-baseline-display.html">
								<span class="tooltip">Baseline display program</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-calendar icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>eCalendar</span>
					</a>
					<ul>
						<li>
							<a href="scheduler.html">
								<span class="tooltip">scheduler</span>
							</a>
						</li>
						<li>
							<a href="scheduler-pending.html">
								<span class="tooltip">Pending</span>	
							</a>
						</li>
						<li>
							<a href="scheduler-monitoring.html">
								<span class="tooltip">Monitoring</span>	
							</a>
						</li>
						<li>
							<a href="scheduler-result.html">
								<span class="tooltip">Result</span>	
							</a>
						</li>
						<li>
							<a href="scheduler-review.html">
								<span class="tooltip">Review</span>	
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="sales-auditor.html">
						<i class="icon-etool-saleman-route icon-etool-black"></i>
						<span class="tooltip">Sales auditor</span>
					</a>
				</li>
				<li>
					<a href="route-performance.html">
						<i class="icon-etool-performance icon-etool-black"></i>
						<span class="tooltip">Route optimize</span>
					</a>
				</li>
				<li>
					<a href="index.html">
						<i class="icon-etool-mcp-situation icon-etool-black"></i>
						<span class="tooltip">Coverage monitoring</span>
					</a>
				</li>
				
			</ul>
		</div>
		<div class="color-box">
			<ul>
				<li class="theme-option">
					<a href="javascript:void(0)">
						<i class="icon-etool-theme icon-etool-black"></i>
						<span class="tooltip">
							Color palette
							<span class="circle circle-red" theme="red"></span>
							<span class="circle circle-orange" theme="orange"></span>
							<span class="circle circle-cyan" theme="cyan"></span>
							<span class="circle circle-blue" theme="blue"></span>
							<span class="circle circle-magenta" theme="magenta"></span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="insider">
			<div class="row display-table w-100pr mb-10 content-header toggle-box">
				<div class="display-table w-100pr">
					<div class="item fl">
						<label for="code" class="fl">Audit code</label>
						<div class="input-group multiselect">
							<input type="text" id="code" class="form-control" aria-label="..." placeholder="Display period" />
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li>
										<div class="table-box table-wrapper">
											<table class="tablesorter table-bordered">
												<thead class="block-theme">
													<tr>
														<th>Audit code</th>
														<th>Display time</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>DPA-01012015-01032015</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>DPA-01012015-01032015</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>DPA-01012015-01032015</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>DPA-01012015-01032015</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>DPA-01012015-01032015</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>DPA-01012015-01032015</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
												</tbody>
											</table>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item fl">
						<label for>Reference code</label>
						<input type="text" placeholder="Reference code" />
					</div>
					<div class="item fl">
						<label for="display" class="fl">Display program</label>
						<div class="input-group fl">
							<input type="text" id="display" class="form-control" aria-label="..." placeholder="Display program">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
								<ul class="dropdown-menu dropdown-menu-left">
									<li>
										<div class="table-box table-wrapper">
											<table class="tablesorter table-bordered">
												<thead class="block-theme">
													<tr>
														<th>Display program</th>
														<th>Display time</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Chương trình trưng bày thông dụng</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>Chương trình trưng bày cao cấp</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>Chương trình trưng bày thông dụng</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>Chương trình trưng bày cao cấp</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>Chương trình trưng bày thông dụng</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
													<tr>
														<td>Chương trình trưng bày cao cấp</td>
														<td>01/03/2015 - 01/06/2015</td>
													</tr>
												</tbody>
											</table>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<button title="Search"><i class="icon-search"></i></button>
					</div>
					<button class="toggle-button btn-transparent pos-static p-5 fr" title="Toggle">
						<i class="icon-up icon-black"></i>
					</button>
				</div>
				<div class="toggle-content w-100pr toggle-content">
					<div class="display-table nowrap">
						<div class="item fl">
							<label class="fl">Display time</label>
							<div class="nowrap fl">
								<input type="date" value="2015-01-01" /><input type="date" value="2015-01-31" />
							</div>
						</div>
						<div class="item fl">
							<label class="fl">Audit time</label>
							<div class="nowrap fl">
								<input type="date" value="2015-01-01" /><input type="date" value="2015-01-31" />
							</div>
						</div>
						<div class="item fl">
							<label for>Status</label>
							<select>
								<option>All</option>
								<option>Inprocess</option>
								<option>Completed</option>
							</select>
						</div>
					</div> 
					<div class="display-table nowrap">
						<div class="item fl">
							<label for>Description</label>
							<input type="text" value="Trưng bày 28 hộp sữa..." title="Trưng bày 28 hộp sữa chua tiệt trùng 100ml" disabled />
						</div>
						<div class="item fl">
							<label for>Content</label>
							<input type="text" value="Trưng bày trên kệ kính..." title="Trưng bày trên kệ kính gồm 28 hộp sữa" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="content-body row">
				<div class="col-sm-3">
					<div class="table-box table-fixed-height">
						<table class="table-bordered">
							<thead class="block-theme">
								<tr>
									<th colspan="2">Overview information</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Start date</th>
									<td class="align-right">03/01/2016</td>
								</tr>
								<tr>
									<th>Audit duration</th>
									<td class="align-right">15 phút</td>
								</tr>
								<tr>
									<th>Audit outlet</th>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<th>Not audit outlet</th>
									<td class="align-right">03/01/2016</td>
								</tr>
								<tr>
									<th>Audit date</th>
									<td class="align-right">03/01/2016</td>
								</tr>
							</tbody>
							<thead class="block-theme">
								<tr>
									<th colspan="2">Audit result</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Audit images</th>
									<td class="align-right">20</td>
								</tr>
								<tr>
									<th>Fake images</th>
									<td class="align-right">5</td>
								</tr>
								<tr>
									<th>Regular images</th>
									<td class="align-right">10</td>
								</tr>
								<tr>
									<th>Achieved image</th>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<th>Numeric image</th>
									<td class="align-right">3</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="tab-header">
						<div class="toolbox">
							<ul class="fr m-0">
								<li>
									<button title="Process"><i class="icon-progress"></i>Process</button>
									<button title="Pause"><i class="icon-pause"></i>Pause</button>
									<button title="Stop"><i class="icon-stop"></i>Stop</button>
								</li>
								<li>
									<button class="btn-refresh" title="Refresh"><i class="icon-update"></i></button>
									<button class="toggle-filter-button"><i class="icon-filter" title="Filter"></i></button>
									<div title="Column selector" class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
											<i class="icon-display"></i>
										</button>
										<ul class="dropdown-menu">
											<li class="p-0">
												<div id="columnSelector" class="tool-box tool-wrapper columnSelector">
													<div id="columnSelectorVisit" class="option-item active"></div>
													<div id="columnSelectorOrderStatus" class="option-item"></div>
													<div id="columnSelectorDisplayImage" class="option-item"></div>
													<div id="columnSelectorSalesAuditor" class="option-item"></div>
													<div id="columnSelectorSalesTerritory" class="option-item"></div>
													<div id="columnSelectorOther" class="option-item"></div>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<button title="First"><i class="icon-go-first"></i></button>
									<button title="Previous"><i class="icon-go-back"></i></button>
									<button title="Forwards"><i class="icon-go-next"></i></button>
									<button title="Last"><i class="icon-go-final"></i></button>
								</li>
								<li>
									<span class="mr-10">
										Page 
										<select>
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>/3
									</span>
									<span>Segment</span>
									<select class="m-0">
										<option>10</option>
										<option selected>20</option>
										<option>30</option>
										<option>40</option>
										<option>50</option>
									</select>
								</li>
								<li>
									<button title="Print"><i class="icon-print"></i></button>
									<button title="Excel"><i class="icon-excel"></i></button>
									<button title="PDF"><i class="icon-pdf"></i></button>
								</li>
								<li>
									<button class="btn-screenmode">
										<i class="icon-fullscreen"></i>
									</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-content wrapper tab-fixed">
						<table class="tablesorter table-bordered">
							<thead class="block-theme">
								<tr>
									<th data-sorter="false">Action</th>
									<th>#</th>
									<th>Outlet name</th>
									<th>Start date</th>
									<th>Completed date</th>
									<th>Status</th>
									<th>Reality/Fake</th>
									<th>Regular/Irregular</th>
									<th>Achieved/Not achieve</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">1</td>
									<td>Tạp hóa Gì Năm Ngã Sáu Phù Đổng</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-blue bold">Completed</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-blue bold">Achieved image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">2</td>
									<td>Cửa hàng Sao Mai</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-blue bold">Completed</span></td>
									<td><span class="txt-red bold">Fake image</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-blue bold">Achieved image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">3</td>
									<td>Cửa hàng Năm Tu Quít</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-red bold">Irregular image</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">4</td>
									<td>Siêu thị tiện lợi Smart Home</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">5</td>
									<td>Cửa hàng Chú Tư Bảy Hiền</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-red bold">Not achieve image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">6</td>
									<td>Cửa hàng Cô Tám Ngã Ba Duồng</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-red bold">Not achieve image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">7</td>
									<td>Tạp hóa Gì Năm Ngã Sáu Phù Đổng</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-blue bold">Completed</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-blue bold">Achieved image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">8</td>
									<td>Cửa hàng Sao Mai</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-blue bold">Completed</span></td>
									<td><span class="txt-red bold">Fake image</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-blue bold">Achieved image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">9</td>
									<td>Cửa hàng Năm Tu Quít</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-red bold">Irregular image</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">10</td>
									<td>Siêu thị tiện lợi Smart Home</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">11</td>
									<td>Cửa hàng Chú Tư Bảy Hiền</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-red bold">Not achieve image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">12</td>
									<td>Cửa hàng Cô Tám Ngã Ba Duồng</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-red bold">Not achieve image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">13</td>
									<td>Tạp hóa Gì Năm Ngã Sáu Phù Đổng</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-blue bold">Completed</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-blue bold">Achieved image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">14</td>
									<td>Cửa hàng Sao Mai</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-blue bold">Completed</span></td>
									<td><span class="txt-red bold">Fake image</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-blue bold">Achieved image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">15</td>
									<td>Cửa hàng Năm Tu Quít</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-red bold">Irregular image</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">16</td>
									<td>Siêu thị tiện lợi Smart Home</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">17</td>
									<td>Cửa hàng Chú Tư Bảy Hiền</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-blue bold">Regular image</span></td>
									<td><span class="txt-red bold">Not achieve image</span></td>
								</tr>
								<tr>
									<td class="align-center">
										<span class="button">
											<a href="visibility-detail-auto-audit-review.html"><i class="icon-display"></i>Detail</a>
										</span>
									</td>
									<td class="align-right">18</td>
									<td>Cửa hàng Cô Tám Ngã Ba Duồng</td>
									<td>15/01/2015</td>
									<td>15/03/2015</td>
									<td><span class="txt-green bold">Not complete</span></td>
									<td><span class="txt-blue bold">Reality image</span></td>
									<td><span class="txt-green bold">Not audit</span></td>
									<td><span class="txt-red bold">Not achieve image</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>