<!DOCTYPE html>
<html class="nav-mini">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<link href="img/favicon.png" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="css/jquery.theme.default.css">
<link rel="stylesheet" type="text/css" href="css/boothstrap.css">
<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="css/dragtable.css">
<link rel="stylesheet" type="text/css" href="css/leaflet.css">

<link rel="stylesheet" type="text/css" href="css/component.css">
<link rel="stylesheet" type="text/css" href="css/icon.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/final.css">


<script src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/jquery.tablesorter.2.28.10.js"></script>
<script src="js/jquery.tablesorter.widgets.2.28.10.js"></script>
<script src="js/widget-columnSelector.js"></script>

<script src="js/widget-scroller.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.dragtable.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/ui.js"></script>
<title>DMSpro eTool</title>
</head>
<body class="blue">
<div class="container">
	<div class="header block-theme">
		<div class="insider">
			<div class="logo-box">
				<a class="logo-text" href="index.html">DMSpro eTool</a>
			</div>
			<div class="menu-box">
				<a class="btn-navigation" href="javascript:void(0)"></a>
				<h1 class="page-title">Detail define display image audit</h1>
				<div class="log-box">
					<ul>
						<li>
							<div class="fl p-10-0 user-account">
								<span>Hello</span> 
								<a href="javascript:void(0)">Thuan.Tran</a> 
							</div>
							<a href="javascript:void(0)">
								<figure class="mini-circle-box fl mr-5">
									<img alt="Thuan.Tran" src="img/employee/1.jpg">
								</figure>
							</a>
						</li>
						<li class="notice">
							<a href="javascript:void(0)">
								<i class="icon-etool-bell icon-etool-white"></i><span class="count">9</span>
							</a>
							<div>
								<div class="title block-theme">
									<h2>Notice</h2>
									<span class="btn-close">
										<a href="javascript:void(0)"><i class="icon-delete icon-white"></i></a>
									</span>
								</div>
								<div class="block-content">
									<ul>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-2.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Cô Ba outlet</h3>
												<p>
													Route: RE09118<br/>
													Employee name: Nguyễn Hữu Phước<br/>
													Employee code: NV0978
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-1.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Family Smart Convenient Market</h3>
												<p>
													Route: RE07113<br/>
													Employee name: Nguyễn Văn Thành<br/>
													Employee code: NV0918
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-3.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Cửa hàng tạp hóa chú Tư Dzềnh </h3>
												<p>
													Route: RE07115<br/>
													Employee name: Ngô Thị Trúc<br/>
													Employee code: NV0966
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-2.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Cửa hàng tạp hóa cô Tư ngã tư Bảy Hiền</h3>
												<p>
													Route: RE08116<br/>
													Employee name: Nguyễn Hữu Phước<br/>
													Employee code: NV0972
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-1.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Bnood Sttore</h3>
												<p>
													Route: RE04111<br/>
													Employee name: Nguyễn Văn Thành<br/>
													Employee code: NV0971
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-3.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Co Sau outlet</h3>
												<p>
													Route: RE07513<br/>
													Employee name: Ngô Thị Trúc<br/>
													Employee code: NV0809
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-2.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Nguyen Nam outlet</h3>
												<p>
													Route: RE09111<br/>
													Employee name: Nguyễn Hữu Phước<br/>
													Employee code: NV0911
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-1.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Gmart Fastfood</h3>
												<p>
													Route: RE09125<br/>
													Employee name: Nguyễn Văn Thành<br/>
													Employee code: NV0432
												</p>
											</div>
										</li>
										<li>
											<div class="mini-square-box fl mr-10">
												<a href="javascript:void(0)"><img src="img/outlet/outlet-3.jpg" /></a>
											</div>
											<div class="describe">
												<h3>Thành Trung co.op</h3>
												<p>
													Route: RE02118<br/>
													Employee name: Ngô Thị Trúc<br/>
													Employee code: NV0118
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="language">
							<a href="javascript:void(0)">
								<i class="icon-etool-global icon-etool-white"></i>
							</a>
							<div>
								<ul>
									<li class="selected">
										<a href="javascript:void(0)">
											Tiếng Việt
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											English
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<button class="btn btn-default"><i class="icon-logout icon-black"></i></button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navigation">
		<div class="nav-box">
			<ul>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-qlik icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>Business Intelligence</span>
					</a>
					<ul>
						<li>
							<a href="bi-sales-situation.html">
								<span class="tooltip">Sales Situation</span>
							</a>
						</li>
						<li>
							<a href="bi-inventory-situation.html">
								<span class="tooltip">Inventory Situation</span>
							</a>
						</li>
						<li>
							<a href="bi-coverage-situation.html">
								<span class="tooltip">Coverage Situation</span>
							</a>
						</li>
						<li>
							<a href="bi-forecast.html">
								<span class="tooltip">Sales Forecasting</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-esri icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>Decision Assistance</span>
					</a>
					<ul>
						<li>
							<a href="gis-transport-intelligence.html">
								<span class="tooltip">Transport Intelligence</span>
							</a>
						</li>
						<li>
							<a href="gis-tapestry-segmentation.html">
								<span class="tooltip">Tapestry Segmentation</span>
							</a>
						</li>
						<li>
							<a href="gis-demographic.html">
								<span class="tooltip">Demographic</span>
							</a>
						</li>
						<li>
							<a href="gis-diversity-index.html">
								<span class="tooltip">Diversity Index</span>
							</a>
						</li>
						<li>
							<a href="gis-education-situation.html">
								<span class="tooltip">Education Situation</span>
							</a>
						</li>
						<li>
							<a href="gis-unemployment.html">
								<span class="tooltip">Unemployment rate</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-system-management icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>System management</span>
					</a>
					<ul>
						<li>
							<a href="manage-permission-by-role.html">
								<span class="tooltip">Permission by role</span>
							</a>
						</li>
						<li>
							<a href="manage-user-list.html">
								<span class="tooltip">User list</span>
							</a>
						</li>
						<li>
							<a href="manage-role.html">
								<span class="tooltip">Manage  role</span>
							</a>
						</li>
						<li>
							<a href="manage-language.html">
								<span class="tooltip">Language</span>	
							</a>
						</li>
						<li>
							<a href="manage-menu-config.html">
								<span class="tooltip">Config menu</span>
							</a>
						</li>
						<li>
							<a href="manage-product.html">
								<span class="tooltip">Manage product</span>
							</a>
						</li>
						<li>
							<a href="manage-user-history.html">
								<span class="tooltip">User history</span>
							</a>
						</li>
						<li>
							<a href="manage-reason.html">
								<span class="tooltip">Image audit reason</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-report icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left">
						<i class="icon-left"></i></div>Report</span>
					</a>
					<ul>
						<li>
							<a href="report-visited.html">
								<span class="tooltip">Daily visit</span>
							</a>
						</li>
						<li>
							<a href="report-synchronous.html">
								<span class="tooltip">PDA synchronous situation</span>
							</a>
						</li>
						<li>
							<a href="report-visit-result.html">
								<span class="tooltip">Visit result</span>
							</a>
						</li>
						<li>
							<a href="report-sale-index.html">
								<span class="tooltip">Sales indicator</span>
							</a>
						</li>
						<li>
							<a href="report-outlet-without-coordinates.html">
								<span class="tooltip">Outlet without coordinates</span>
							</a>
						</li>
						<li>
							<a href="report-base-result.html">
								<span class="tooltip">Base visit result</span>
							</a>
						</li>
						<li>
							<a href="report-working-weekly.html">
								<span class="tooltip">Working weekly</span>
							</a>
						</li>
						<li>
							<a href="report-timekeeping.html">
								<span class="tooltip">Timekeeping</span>
							</a>
						</li>
						<li>
							<a href="report-manual-audit-result.html">
								<span class="tooltip">Manual audit result</span>
							</a>
						</li>
						<li>
							<a href="report-auto-assume-result.html">
								<span class="tooltip">Auto audit result</span>
							</a>
						</li>
						<li>
							<a href="report-auto-assume-performance.html">
								<span class="tooltip">Auto audit performance</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="selected">
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-image icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>Visibility</span>
					</a>
					<ul>
						<li class="selected">
							<a href="visibility-define-display.html">
								<span class="tooltip">Display period list</span>
							</a>
						</li>
						<li>
							<a href="visibility-assign-outlet-to-auditor.html">
								<span class="tooltip">Allocate outlet to auditor</span>	
							</a>
						</li>
						<li>
							<a href="visibility-image-assume.html">
								<span class="tooltip">Display image audit</span>
							</a>
						</li>
						<li>
							<a href="visibility-review-assume.html">
								<span class="tooltip">Manual audit result review</span>
							</a>
						</li>
						<li>
							<a href="visibility-auto-image-assume.html">
								<span class="tooltip">Auto audit result review</span>
							</a>
						</li>
						<li>
							<a href="visibility-report-deny-image.html">
								<span class="tooltip">Denied image list</span>
							</a>
						</li>
						<li>
							<a href="visibility-auto-image-assume.html">
								<span class="tooltip">Auto image audit</span>
							</a>
						</li>
						<li>
							<a href="visibility-baseline-display.html">
								<span class="tooltip">Baseline display program</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="icon_has-child" href="javascript:void(0)">
						<i class="icon-etool-calendar icon-etool-black"></i>
						<span class="tooltip"><div class="arrow-left"><i class="icon-left"></i></div>eCalendar</span>
					</a>
					<ul>
						<li>
							<a href="scheduler.html">
								<span class="tooltip">scheduler</span>
							</a>
						</li>
						<li>
							<a href="scheduler-pending.html">
								<span class="tooltip">Pending</span>	
							</a>
						</li>
						<li>
							<a href="scheduler-monitoring.html">
								<span class="tooltip">Monitoring</span>	
							</a>
						</li>
						<li>
							<a href="scheduler-result.html">
								<span class="tooltip">Result</span>	
							</a>
						</li>
						<li>
							<a href="scheduler-review.html">
								<span class="tooltip">Review</span>	
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="sales-auditor.html">
						<i class="icon-etool-saleman-route icon-etool-black"></i>
						<span class="tooltip">Sales auditor</span>
					</a>
				</li>
				<li>
					<a href="route-performance.html">
						<i class="icon-etool-performance icon-etool-black"></i>
						<span class="tooltip">Route optimize</span>
					</a>
				</li>
				<li>
					<a href="index.html">
						<i class="icon-etool-mcp-situation icon-etool-black"></i>
						<span class="tooltip">Coverage monitoring</span>
					</a>
				</li>
				
			</ul>
		</div>
		<div class="color-box">
			<ul>
				<li class="theme-option">
					<a href="javascript:void(0)">
						<i class="icon-etool-theme icon-etool-black"></i>
						<span class="tooltip">
							Color palette
							<span class="circle circle-red" theme="red"></span>
							<span class="circle circle-orange" theme="orange"></span>
							<span class="circle circle-cyan" theme="cyan"></span>
							<span class="circle circle-blue" theme="blue"></span>
							<span class="circle circle-magenta" theme="magenta"></span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="insider">
			<div class="content-header row mb-10">
				<div class="display-table w-100pr">
					<div class="display-table nowrap">
						<div class="item fl">
							<label for="code">Mã đánh giá</label>
							<input type="text" value="DPM-01012015-30012015" readonly disabled />
						</div>
						<div class="item fl">
							<label for>Mã tham chiếu</label>
							<input type="text" value="DRTHANH" readonly disabled />
						</div>
						<div class="item fl">
							<label for="code">Chương trình trưng bày</label>
							<input type="text" value="Trưng bày kệ Dr Thanh" readonly disabled />
						</div>
					</div>
					<div class="display-table nowrap">
						<div class="item fl">
							<label class="fl">Thời gian trưng bày</label>
							<div class="nowrap fl">
								<input type="date" value="2015-01-01" readonly disabled /><input type="date" value="2015-01-15" readonly disabled />
							</div>
						</div>
						<div class="item fl">
							<label class="fl">Thời gian đánh giá</label>
							<div class="nowrap fl">
								<input type="date" value="2015-01-16" readonly disabled /><input type="date" value="2015-01-31" readonly disabled />
							</div>
						</div>
						<div class="item fl">
							<label for>Trạng thái</label>
							<select readonly disabled>
								<option>Tất cả</option>
								<option selected>Đang đánh giá</option>
								<option>Đã hoàn tất</option>
							</select>
						</div>
					</div>
					<div class="display-table nowrap">
						<div class="item fl">
							<label for>Mô tả CTTB</label>
							<input type="text" value="Trưng bày 28 hộp sữa..." title="Trưng bày 28 hộp sữa chua tiệt trùng 100ml" readonly disabled />
						</div>
						<div class="item fl">
							<label for>Nội dung CTTB</label>
							<input type="text" value="Trưng bày trên kệ kính..." title="Trưng bày trên kệ kính gồm 28 hộp sữa" readonly disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="content-body row">
				<div class="col-sm-6">
					<table>
						<thead class="block-theme">
							<tr>
								<th colspan="3">Thông tin đánh giá</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Thời gian trưng bày</th>
								<td><label for>Từ</label> 23/10/2015</td>
								<td><label for>Đến</label> 31/10/2015</td>
							</tr>
							<tr>
								<th>Kiểu đánh giá</th>
								<td colspan="2">Theo khoảng thời gian</td>
							</tr>
							<tr>
								<th>Thời gian đánh giá</th>
								<td><label for>Từ</label> 23/10/2015</td>
								<td><label for>Đến</label> 31/10/2015</td>
							</tr>
							<tr>
								<th>Tỷ lệ review</th>
								<td colspan="2">80%</td>
							</tr>
							<tr>
								<th colspan="3">
									<div class="col-sm-4">
										<fieldset>
											<legend>Loại hình đánh giá</legend>
											Thủ công
										</fieldset>
									</div>
									<div class="col-sm-4">
										<fieldset>
											<legend>Đánh giá Numeric</legend>
											Có <button data-toggle="modal" data-target="#product-list"><i class="icon-display"></i></button>
										</fieldset>
									</div>
									<div class="col-sm-4">
										<fieldset>
											<legend>Khu vực đánh giá</legend>
											Khu vực địa lý <button data-toggle="modal" data-target="#geo-area-list"><i class="icon-display"></i></button>
										</fieldset>
									</div>
									<div id="product-list" class="modal fade" role="dialog">
										<div class="modal-dialog w-90pr mw-1000 bottom">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header block-theme">
													<button type="button" class="close" data-dismiss="modal"><i class="icon-delete icon-white"></i></button>
													<h4 class="modal-title">Danh sách sản phẩm đánh giá hiện diện</h4>
												</div>
												<div class="modal-body p-0">
													<div class="table-box wrapper">
														<table>
															<thead>
																<tr>
																	<th>STT</th>
																	<th>Tên sản phẩm</th>
																	<th>Nhà sản xuất</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>1</td>
																	<td>Trà xanh 0 độ</td>
																	<td>NSX001</td>
																</tr>
																<tr>
																	<td>2</td>
																	<td>Trà C2</td>
																	<td>NSX002</td>
																</tr>
																<tr>
																	<td>3</td>
																	<td>Trà xanh 0 độ</td>
																	<td>NSX001</td>
																</tr>
																<tr>
																	<td>4</td>
																	<td>Trà C2</td>
																	<td>NSX002</td>
																</tr>
																<tr>
																	<td>5</td>
																	<td>Trà xanh 0 độ</td>
																	<td>NSX001</td>
																</tr>
																<tr>
																	<td>6</td>
																	<td>Trà C2</td>
																	<td>NSX002</td>
																</tr>
																<tr>
																	<td>7</td>
																	<td>Trà xanh 0 độ</td>
																	<td>NSX001</td>
																</tr>
																<tr>
																	<td>8</td>
																	<td>Trà C2</td>
																	<td>NSX002</td>
																</tr>
																<tr>
																	<td>9</td>
																	<td>Trà xanh 0 độ</td>
																	<td>NSX001</td>
																</tr>
																<tr>
																	<td>10</td>
																	<td>Trà C2</td>
																	<td>NSX002</td>
																</tr>
																<tr>
																	<td>11</td>
																	<td>Trà xanh 0 độ</td>
																	<td>NSX001</td>
																</tr>
																<tr>
																	<td>12</td>
																	<td>Trà C2</td>
																	<td>NSX002</td>
																</tr>
																<tr>
																	<td>13</td>
																	<td>Trà xanh 0 độ</td>
																	<td>NSX001</td>
																</tr>
																<tr>
																	<td>14</td>
																	<td>Trà C2</td>
																	<td>NSX002</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<script src="js/bootstrap.treeview.js"></script>
									<div id="geo-area-list" class="modal fade" role="dialog">
										<div class="modal-dialog w-90pr mw-500 bottom">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header block-theme">
													<button type="button" class="close" data-dismiss="modal"><i class="icon-delete icon-white"></i></button>
													<h4 class="modal-title">Chọn khu vực địa lý</h4>
												</div>
												<div class="modal-body p-0">
													<div class="table-box wrapper">
														<div id="geo-area-treeview" class="treeview"></div>
														<script>
															var geoAreaData = [
																{
																	text: 'Miền Bắc',
																	href: '#parent1',
																	nodes: [
																		{
																			text: 'Hà Nội',
																			href: '#child1',
																			nodes: [
																				{
																					text: 'Phố Hàng Bạc',
																					href: '#grandchild1'
																				},
																				{
																					text: 'Phố Hàng Điếu',
																					href: '#grandchild2'
																				},
																				{
																					text: 'Phố Hàng Cân',
																					href: '#grandchild2'
																				},
																				{
																					text: 'Phố Hàng Bông',
																					href: '#grandchild2'
																				}
																				
																			]
																		},
																		{
																			text: 'Hải phòng',
																			href: '#child2'
																		}
																	]
																},
																{
																	text: 'Miền Trung',
																	href: '#parent2',
																	nodes: [
																		{
																			text: 'Đà Nẵng',
																			href: '#child1'
																		},
																		{
																			text: 'Huế',
																			href: '#child2'
																		}
																	]
																},
																{
																	text: 'Miền Nam',
																	href: '#parent1',
																	nodes: [
																		{
																			text: 'Hồ Chí Minh',
																			href: '#child1',
																			nodes: [
																				{
																					text: 'Quận 1',
																					href: '#grandchild1'
																				},
																				{
																					text: 'Quận 2',
																					href: '#grandchild2'
																				},
																				{
																					text: 'Quận 7',
																					href: '#grandchild2'
																				},
																				{
																					text: 'Quận Bình Thạnh',
																					href: '#grandchild2'
																				},
																				{
																					text: 'Quận Gò Vấp',
																					href: '#grandchild2'
																				}
																			]
																		},
																		{
																			text: 'Bà Rịa Vũng Tàu',
																			href: '#child2'
																		}
																	]
																}
															];
															
															var $checkableTree = $('#geo-area-treeview').treeview({
																data: geoAreaData,
																showIcon: false,
																showCheckbox: false,
																onNodeChecked: function(event, node) {
																	console.log(node.text + ' was checked' + ', href ' + node.href);
																},
																onNodeUnchecked: function (event, node) {
																	console.log(node.text + ' was unchecked' + ', href ' + node.href);
																}
															});
														</script>
													</div>
												</div>
											</div>
										</div>
									</div>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-6 toggle-filter-box filter-disable">
					<div class="tab-header">
						<div class="toolbox">
							<ul class="fr m-0">
								<li>
									<span class="button" title="Back">
										<a href="visibility-define-display.html">
											<i class="icon-back"></i>
										</a>
									</span>
								</li>
								<li>
									<button class="btn-refresh" title="Refresh"><i class="icon-update"></i></button>
									<button class="toggle-filter-button"><i class="icon-filter" title="Filter"></i></button>
									<div title="Column selector" class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
											<i class="icon-display"></i>
										</button>
										<ul class="dropdown-menu">
											<li class="p-0">
												<div id="columnSelector" class="tool-box tool-wrapper columnSelector">
													<div id="columnSelectorVisit" class="option-item active"></div>
													<div id="columnSelectorOrderStatus" class="option-item"></div>
													<div id="columnSelectorDisplayImage" class="option-item"></div>
													<div id="columnSelectorSalesAuditor" class="option-item"></div>
													<div id="columnSelectorSalesTerritory" class="option-item"></div>
													<div id="columnSelectorOther" class="option-item"></div>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<button title="First"><i class="icon-go-first"></i></button>
									<button title="Previous"><i class="icon-go-back"></i></button>
									<button title="Forwards"><i class="icon-go-next"></i></button>
									<button title="Last"><i class="icon-go-final"></i></button>
								</li>
								<li>
									<span class="mr-10">
										Page 
										<select>
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>/3
									</span>
									<span>Segment</span>
									<select class="m-0">
										<option>10</option>
										<option selected>20</option>
										<option>30</option>
										<option>40</option>
										<option>50</option>
									</select>
								</li>
								<li>
									<button title="Print"><i class="icon-print"></i></button>
									<button title="Excel"><i class="icon-excel"></i></button>
									<button title="PDF"><i class="icon-pdf"></i></button>
								</li>
								<li>
									<button class="btn-screenmode">
										<i class="icon-fullscreen"></i>
									</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-content wrapper tab-fixed">
						<table class="tablesorter table-bordered">
							<thead class="block-theme">
								<tr>
									<th>#</th>
									<th>Employee name</th>
									<th>Phone</th>
									<th>Role</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Cao Văn Danh</td>
									<td>091189245</td>
									<td>Quản lý</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Phạm Đức Tiên</td>
									<td>091189245</td>
									<td>Quản lý</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Trần Thị Khánh Hoài</td>
									<td>091189245</td>
									<td>Quản lý</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Lê Thị Kim Hoa</td>
									<td>091189245</td>
									<td>Nhóm trưởng</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Lê Hoài Nam</td>
									<td>091189245</td>
									<td>Nhân viên chấm điểm</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Cao Kiêu Kỳ</td>
									<td>091189245</td>
									<td>Nhân viên chấm điểm</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Cao Văn Danh</td>
									<td>091189245</td>
									<td>Quản lý</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Phạm Đức Tiên</td>
									<td>091189245</td>
									<td>Quản lý</td>
								</tr>
								<tr>
									<td>9</td>
									<td>Trần Thị Khánh Hoài</td>
									<td>091189245</td>
									<td>Quản lý</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Lê Thị Kim Hoa</td>
									<td>091189245</td>
									<td>Nhóm trưởng</td>
								</tr>
								<tr>
									<td>11</td>
									<td>Lê Hoài Nam</td>
									<td>091189245</td>
									<td>Nhân viên chấm điểm</td>
								</tr>
								<tr>
									<td>12</td>
									<td>Cao Kiêu Kỳ</td>
									<td>091189245</td>
									<td>Nhân viên chấm điểm</td>
								</tr>
								<tr>
									<td>13</td>
									<td>Trần Thị Khánh Hoài</td>
									<td>091189245</td>
									<td>Quản lý</td>
								</tr>
								<tr>
									<td>14</td>
									<td>Lê Thị Kim Hoa</td>
									<td>091189245</td>
									<td>Nhóm trưởng</td>
								</tr>
								<tr>
									<td>15</td>
									<td>Lê Hoài Nam</td>
									<td>091189245</td>
									<td>Nhân viên chấm điểm</td>
								</tr>
								<tr>
									<td>16</td>
									<td>Cao Kiêu Kỳ</td>
									<td>091189245</td>
									<td>Nhân viên chấm điểm</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>