@{
    ViewBag.Title = "Email Logs";
}

<div class="head">
    <div class="isw-grid">
    </div>
    <h1>
        Email Sending History Log</h1>
    <div class="clear">
    </div>
</div>
<div class="block-fluid">
    <div class="listRolesName list">
        @Html.Action("_List")
    </div>
</div>
