@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutRemsigns.cshtml";
}

@model CMSApplication.Models.TopicModel



<div id="contents">
    <div style="padding: 20px 40px 40px 40px; display: block; font-family: Tahoma, Geneva, sans-serif; font-size:12px">
        <h2>@Model.Title</h2>
        @Html.Raw(Model.Body)
    </div>
</div>

<div id="contents2">
    

    <!--La de enmedio-->
    <div id="col_center">
        
    </div>




    <!--Fin a la de enmedio-->

    







</div>

