@model CMSApplication.Models.UserModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page_title">
       Forgot Password
    </div>
<div id="contents2">
<div class="topic-content" style="padding:15px 0 0 40px;">
@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { id = "forgotpassform" }))
{
    <div class="row" style="margin-left: 0px;">
        <div class="spa2" style="margin-top:5px;">Please enter your email and click Reset Password.<br />After that, please check your email for instruction to get new password.</div>
        <div class="spa6">
            @Html.TextBoxFor(m => m.Email, new { @class = "textfield txt_form_beauti_regis", @style="width: 200px;" })
           @* @Html.ValidationMessageFor(m => m.OldPassword)*@
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="spa2"></div>
        <div class="spa6">
           <input type="submit" class="btn submitBtn" value="Reset Password" /> 
        </div>
    </div>
}
<br />
<div class="yellow_field" style="color: red;">@ViewBag.ErrRequired</div>
</div> 
    </div>
