@{
    ViewBag.Title = "Register succesful";
}
<div class="topic-content">
<!--<div class="gold-title">Register succesful!</div>-->
<script language="javascript">
    alert("Congratulations! You have successful registered account in our site. Please check your email to active your account.");
    window.location.href = "/";
</script>
</div>
