@{
    ViewData["Title"] = Resource.TitleProvince;
}
@using SM.Resources
@using SM.Common
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h3>Quản Lý Phân Cấp Bán Hàng</h3>
    </div>
    <div class="col-lg-6">
        <div class="ibox-tools-page-heading">
            
        </div>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeIn">
    <div id="sales-form" class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins ibox-tabs tab-content-custome">
                <div class="ibox-content ibox-content-no-header">
                    <div class="tabs-container">
                        <div class="tabs-left">
                            <ul id="ul-list-chanel" class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-chanel-GT"> Kênh GT</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-chanel-OTC">Kênh OTC</a></li>
                                <li class=""><a data-toggle="tab"><i class="fa-plus"></i> New </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                                <div id="tab-chanel-GT" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-1 control-label">Mã Kênh</label>
                                                    <div class="col-md-3">
                                                        <input type="text" placeholder="Mã Kênh" value="GT" class="form-control">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <label class="col-md-1 control-label">Quốc Gia</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control">
                                                            <option value="1" selected>Việt Nam</option>
                                                            <option value="2">Myanmar</option>
                                                            <option value="3">Thái Lan</option>
                                                            <option value="4">Lào</option>
                                                            <option value="5">Campuchia</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">Status</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control">
                                                            <option value="1">Open</option>
                                                            <option value="2">Hold</option>
                                                            <option value="3" selected>Release</option>
                                                            <option value="4">Close</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-1 control-label">Tên Kênh</label>
                                                    <div class="col-md-3">
                                                        <input type="text" value="Kênh GT" class="form-control">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <label class="col-md-1 control-label">Desc</label>
                                                    <div class="col-md-3">
                                                        <input type="text" value="Kênh bán hàng truyền thống, Từ NPP đến các điểm bán nhỏ lẻs" class="form-control">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-3">
                                                        <div class="checkbox i-checks"><label> <input type="checkbox" value="" checked><i></i>@Resource.Active</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-offset-1 col-md-11">
                                                        <button type="button" class="btn btn-primary">Lưu</button>
                                                        <button type="button" class="btn btn-primary">Release</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-12 tab-content-child">
                                            <div class="tabs-container">
                                                <ul id="ul-sales-territory" class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#tab-Terr-Structs">Cấu Trúc</a></li>
                                                    <li class=""><a data-toggle="tab" href="#tab-Terr-Values">Phân Cấp Bán Hàng</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="tab-Terr-Structs" class="tab-pane active">
                                                        <div class="padding-top-bottom-10 ibox-content">
                                                            <div class="col-md-5 no-padding border-right">
                                                                <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Mã Code</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" placeholder="Mã Code" value="Region" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Tên Cấu Trúc</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" value="Vùng" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-3 col-sm-8">
                                                                            <button type="button" class="btn btn-primary">Thêm</button>
                                                                            <button type="button" class="btn btn-danger">Removes</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="col-md-7 no-padding">
                                                                <div id="jstree1" class="font-size-16">
                                                                    <ul>
                                                                        <li class="jstree-open">
                                                                            GT - Viet Nam
                                                                            <ul>
                                                                                <li>
                                                                                    Vùng
                                                                                    <ul>
                                                                                        <li>Khu Vực</li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="tab-Terr-Values" class="tab-pane">
                                                        <div class="padding-top-bottom-10 ibox-content">
                                                            <div class="col-md-5 no-padding border-right">
                                                                <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Mã Code</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" placeholder="Mã Code" value="Region" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Tên</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" value="Vùng" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-3 col-md-8">
                                                                            <div class="checkbox i-checks"><label> <input type="checkbox" value="" checked><i></i>@Resource.Active</label></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-3 col-sm-8">
                                                                            <button type="button" class="btn btn-primary">Thêm</button>
                                                                            <button type="button" class="btn btn-danger">Removes</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <hr />
                                                                <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Action</th>
                                                                                <th>Tên nhân viên</th>
                                                                                <th>Ngày bắt đầu</th>
                                                                                <th>Ngày kết thúc</th>
                                                                                <th>Mặc định</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="gradeX">
                                                                                <td></td>
                                                                                <td>Nguyễn Văn A</td>
                                                                                <td>2017-11-01</td>
                                                                                <td></td>
                                                                                <td class="text-center"><input type="radio" name="isDefault" checked /></td>
                                                                            </tr>
                                                                            <tr class="gradeX">
                                                                                <td></td>
                                                                                <td>Nguyễn Văn B</td>
                                                                                <td>2017-11-01</td>
                                                                                <td></td>
                                                                                <td class="text-center"><input type="radio" name="isDefault" /></tdclass="center">
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </form>
                                                            </div>
                                                            <div class="col-md-7 no-padding">
                                                                <div id="jstree2" class="font-size-16">
                                                                    <ul>
                                                                        <li class="jstree-open">
                                                                            GT - Viet Nams
                                                                            <ul>
                                                                                <li>
                                                                                    Miền Bắc
                                                                                    <ul>
                                                                                        <li>Đông Bắc</li>
                                                                                        <li>Tây Bắc</li>
                                                                                        <li>Hà Nội</li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li>
                                                                                    Miền Trung
                                                                                    <ul>
                                                                                        <li>Bắc Miền Trung</li>
                                                                                        <li>Nam Miền Trung 1</li>
                                                                                        <li>Nam Miền Trung 2</li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li>
                                                                                    Miền Nam
                                                                                    <ul>
                                                                                        <li>Nam Miền Đông</li>
                                                                                        <li>Nam Miền Trung</li>
                                                                                        <li>Hồ Chí Minh</li>
                                                                                        <li>Nam Miền Bắc</li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-chanel-OTC" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-1 control-label">Mã Kênh</label>
                                                    <div class="col-md-3">
                                                        <input type="text" placeholder="Mã Kênh" value="OTC" class="form-control">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <label class="col-md-1 control-label">Quốc Gia</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control">
                                                            <option value="1" selected>Việt Nam</option>
                                                            <option value="2">Myanmar</option>
                                                            <option value="3">Thái Lan</option>
                                                            <option value="4">Lào</option>
                                                            <option value="5">Campuchia</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">Status</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control">
                                                            <option value="1">Open</option>
                                                            <option value="2">Hold</option>
                                                            <option value="3" selected>Release</option>
                                                            <option value="4">Close</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-1 control-label">Tên Kênh</label>
                                                    <div class="col-md-3">
                                                        <input type="text" value="Kênh OTC" class="form-control">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <label class="col-md-1 control-label">Desc</label>
                                                    <div class="col-md-3">
                                                        <input type="text" value="Kênh bán hàng cho các siêu thị" class="form-control">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-3">
                                                        <div class="checkbox i-checks"><label> <input type="checkbox" value="" checked><i></i>@Resource.Active</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-offset-1 col-md-11">
                                                        <button type="button" class="btn btn-primary">Lưu</button>
                                                        <button type="button" class="btn btn-primary">Release</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-12 tab-content-child">
                                            <div class="tabs-container">
                                                <ul id="ul-sales-territory" class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#tab-Terr-Structs-OCT">Cấu Trúc</a></li>
                                                    <li class=""><a data-toggle="tab" href="#tab-Terr-Values-OCT">Phân Cấp Bán Hàng</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="tab-Terr-Structs-OCT" class="tab-pane active">
                                                        <div class="padding-top-bottom-10 ibox-content">
                                                            <div class="col-md-5 no-padding border-right">
                                                                <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Mã Code</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" placeholder="Mã Code" value="Region" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Tên Cấu Trúc</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" value="Vùng" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-3 col-sm-8">
                                                                            <button type="button" class="btn btn-primary">Thêm</button>
                                                                            <button type="button" class="btn btn-danger">Removes</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="col-md-7 no-padding">
                                                                <div id="jstree1" class="font-size-16">
                                                                    <ul>
                                                                        <li class="jstree-open">
                                                                            GT - Viet Nam
                                                                            <ul>
                                                                                <li>
                                                                                    Vùng
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="tab-Terr-Values-OCT" class="tab-pane">
                                                        <div class="padding-top-bottom-10 ibox-content">
                                                            <div class="col-md-5 no-padding border-right">
                                                                <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Mã Code</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" placeholder="Mã Code" value="Region" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Tên</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" value="Vùng" class="form-control">
                                                                            <span class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-3 col-md-8">
                                                                            <div class="checkbox i-checks"><label> <input type="checkbox" value="" checked><i></i>@Resource.Active</label></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-3 col-sm-8">
                                                                            <button type="button" class="btn btn-primary">Thêm</button>
                                                                            <button type="button" class="btn btn-danger">Removes</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <hr />
                                                                <form asp-controller="Account" asp-action="CreateProvince" method="post" class="form-horizontal">
                                                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Action</th>
                                                                                <th>Tên nhân viên</th>
                                                                                <th>Ngày bắt đầu</th>
                                                                                <th>Ngày kết thúc</th>
                                                                                <th>Mặc định</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="gradeX">
                                                                                <td></td>
                                                                                <td>Nguyễn Văn A</td>
                                                                                <td>2017-11-01</td>
                                                                                <td></td>
                                                                                <td class="text-center"><input type="radio" name="isDefault" checked /></td>
                                                                            </tr>
                                                                            <tr class="gradeX">
                                                                                <td></td>
                                                                                <td>Nguyễn Văn B</td>
                                                                                <td>2017-11-01</td>
                                                                                <td></td>
                                                                                <td class="text-center"><input type="radio" name="isDefault" /></tdclass="center">
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </form>
                                                            </div>
                                                            <div class="col-md-7 no-padding">
                                                                <div id="jstree2" class="font-size-16">
                                                                    <ul>
                                                                        <li class="jstree-open">
                                                                            GT - Viet Nams
                                                                            <ul>
                                                                                <li>
                                                                                    Miền Bắc
                                                                                </li>
                                                                                <li>
                                                                                    Miền Trung
                                                                                </li>
                                                                                <li>
                                                                                    Miền Nam Trung Bộ
                                                                                </li>
                                                                                <li>
                                                                                    Miền Nam
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="list-result" class="row">
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_bower/codemirror/lib/codemirror.css" />
        <link rel="stylesheet" href="~/lib_bower/codemirror/theme/ambiance.css" />
        <link rel="stylesheet" href="~/lib_bower/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib_bower/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
        <link rel="stylesheet" href="~/lib_bower/select2/dist/css/select2.css" />
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib_bower/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
        <script src="~/lib_bower/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="~/lib_bower/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
        <script src="~/lib_bower/codemirror/mode/javascript/javascript.js"></script>
        <script src="~/lib_bower/jstree/dist/jstree.js"></script>
        <script src="~/lib_bower/select2/dist/js/select2.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
    </environment>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ul-list-chanel').on('click', 'li', function () {
                $('.tabs-left').children('.tab-content').toggleClass('sk-loading');
                setTimeout(function () {
                    $('.tabs-left').children('.tab-content').toggleClass('sk-loading');
                }, 500);
            })

        });

    </script>
}